.env/
bin/
*.txt
*.log
*.log.*
*.log/*
*.log-*
*.log-*/

*.wav
*.mp3
*.mp4
*.mov
*.avi
*.wmv
*.flv
*.mkv
*.webm
*.ogg
*.ogv
*.mpg
*.mpeg
*.m4v
*.3gp
*.3g2
*.mxf
*.ts
*.mts
*.m2ts
*.vob
*.divx
*.xvid
*.rm
*.rmvb
*.asf
